// MIXINS && VARIABLES

// @mixin basic-box-shadow($color) {
//   box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
// }

// $main-color: green;
// $accent-color: darken($main-color, 20%);
// $background-color: lighten($main-color, 40%);

// LAYOUT

html, body {
  margin: 0;
  height: 100%;
}
#canvas {
  width: 75%;
  height: 75%;
  display: block;
}
